/* ===========================
   GLOBAL BACKGROUND
   (Seitenhintergrund + Reset)
   =========================== */
body {
    margin: 0rem;
    background-image: url(/img/1732134118262.webp);
    background-repeat: no-repeat;
    background-size: cover; /* Vollflächiger Hintergrund */
}

/* ===========================
   WRAPPER
   (zentrierter Inhaltsbereich)
   =========================== */
.wrapper {
    width: auto;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
